.bgvideo {
  video {
    border: #6dd5ed solid 3px;
    border-radius: 50px 0px 50px 0px;
    -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
    box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  }
}
.bgvideo:hover {
  transform: scale(1.02);
}

.par {
  p {
    color: white;
    font-size: 19px;
  }
  p:hover {
    color: #6dd5ed;
    filter: hue-rotate(360deg);
    transition: all 500ms ease;
  }
}

video:focus {
  outline: none;
}

.bgvideo:focus {
  outline: none;
}
