.App {
  display: grid;
  place-items: center;
  height: 70vh;
  margin-top: 5%;
  overflow-x: hidden;
  ::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
}

.logIn {
  width: 50%;
  height: 100%;
  border: 5px solid #6dd5ed;
  border-radius: 50px 0px 50px 0px;
  display: flex;

  align-items: center;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  backdrop-filter: blur(5px);

  h6 {
    font-size: 35px;
    color: white;
  }
  span {
    background-color: #ff8c00;
    color: #000;
    border-radius: 5px;
    padding: 2px 5px;
  }
  strong {
    font-size: 35px !important;
  }
}

.logIn input {
  margin: 10px;
  width: 200px;
  height: 50px;
  border-radius: 20px 0px 20px 0px;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  border: 2px solid #6dd5ed;
  background-color: transparent;
  padding-left: 10px;
  color: white;
  font-size: 15px;
}

.logIn input:focus {
  outline: none;
}

.logIn button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 0px 20px 0px 20px;
  border: 1px solid #6dd5ed;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  background: none;
  color: #6dd5ed;
  font-size: 16px;
  margin-top: 45px;
  font-weight: bolder;
}

.logIn button:hover {
  font-weight: bolder;
  cursor: pointer;
  color: black;
  background-color: #6dd5ed;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
}

.chatContainer {
  backdrop-filter: blur(5px);
  width: 50%;
  height: 100%;
  border: 3px solid #6dd5ed;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  border-radius: 50px 0px 50px 0px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  .inputs {
    backdrop-filter: blur(10px);
    border-radius: 50px;
    border: $color solid 1px;
  }
}
@media (max-width: 600px) {
  .logIn {
    width: 100%;
    padding: 0 50%;
    .mytitle {
      display: none;
    }
  }
}

@media (max-width: 1000px) {
  .logIn {
    h6 {
      font-size: 50px !important;
      color: white;
    }
    strong {
      background-color: #ff8c00;
      color: #000;
      border-radius: 5px;
      font-size: 50px !important;
      padding: 2px 5px;
    }
  }

  .chatContainer {
    width: 100%;
  }
  .logIn {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .App {
    margin-top: 10%;
    padding: 0 1%;
  }

  .chatContainer .messageInputs {
    flex: 20%;
    padding: 1% 5%;
    display: flex;
    flex-direction: row;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    ::placeholder {
      color: $color;
      opacity: 1;
      font-size: 15px;
    }
  }
}

.chatContainer .messages {
  flex: 80%;
  width: 100%;
  padding-left: 20px;
}

.chatContainer .messageInputs {
  flex: 20%;
  padding: 1% 5%;
  display: flex;
  flex-direction: row;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  ::placeholder {
    color: $color;
    opacity: 1;
  }
}
.chatContainer .messageInputs input:focus {
  outline: none !important;
}
.chatContainer .messageInputs button:focus {
  outline: none !important;
}
.chatContainer .messageInputs input {
  flex: 80%;
  padding-left: 20px;
  font-size: 20px;
  color: white;
  margin-right: 3%;
}

.chatContainer .messageInputs button {
  flex: 20%;
  height: 100%;

  backdrop-filter: blur(10px);
  background: none;
  border: 1px solid $color;
  border-radius: 50px;
  color: $color;
  font-size: 200%;
  margin-right: 5%;
}
.chatContainer .messageInputs button:hover {
  transform: scale(1.05);
  transition: all ease 300ms;
  color: red;
  border: 1px solid red;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(255, 0, 0, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(255, 0, 0, 0.6) !important;
}

.messageContainer {
  display: flex;
  width: calc(100% - 30px);
}

.messageContainer h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 17px;
}

#You {
  justify-content: flex-end;
  .messageIndividual {
    border-radius: 20px 20px 0 20px;
  }
}

#Other {
  justify-content: flex-start;
}

#Other .messageIndividual {
  background: none;
  border: 1px solid #ff0000;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(255, 0, 0, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(255, 0, 0, 0.6) !important;
  color: rgb(255, 255, 255);
  border-radius: 20px 20px 20px 0px;
}
.messageIndividual {
  width: 200px;
  height: 60px;

  display: grid;
  place-items: center;
  background: none;
  border: 1px solid #6dd5ed;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  opacity: 0.9;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 10px;
  margin-top: 20px;
}

.scrollable {
  overflow-x: hidden !important;
}
