.face {
  height: 100vh !important;
  margin: 4% 0;

  img {
    position: absolute;
    left: 65%;
    z-index: -1;
  }
}

.video {
  display: flex;
  border-radius: 40px !important;
  margin: 20px 0;
  cursor: grab;
}

@media (max-width: 768px) {
  .video {
    width: 100% !important;
    height: auto !important;
  }
}

.flex {
  justify-content: center;
  border-radius: 40px !important;
}

.canvas {
  border-radius: 40px !important;
  position: absolute;
}
