.header2 {
  background-image: url("./img/g1.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .container {
    padding: 2%;
    border-radius: 0px 50px 0px 50px;
    border: 3px solid #6dd5ed;
    -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
    box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
    margin-top: 5%;
    display: flex;
    backdrop-filter: blur(100px);
    .text {
      flex: 2;
      order: 2;
      color: #6dd5ed;

      h1 {
        padding-top: 20px;
        margin-left: 25px;
        margin-bottom: 30px;
      }
      h5 {
        padding: 0px 50px;
        margin-bottom: 30px;
      }
      i {
        display: flex;
        flex: 1;
        font-size: 300%;
        margin: 4% 10%;

        p {
          font-size: 15px;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 700;
        }
      }
      .btn {
        background: none;
        color: #6dd5ed;
        border-color: #6dd5ed;
        -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
        box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
      }
      .btn:hover {
        background-color: black;
        color: white;
      }
      .header-robot {
        z-index: 1;
        order: 1;
        position: relative;
        width: 100%;
        flex: 1;
        height: 100vh;
        background-image: url("./img/g6.gif");
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    .header-robot {
      position: relative;
      width: 100%;
      flex: 1;
      order: 1;
    }
  }

  .header-robot:hover {
    filter: hue-rotate(360deg);
    transition: all 1000ms ease;
    transform: scale(1.2);
    background-image: url("./img/g7.gif") !important;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
  }
  .bg:hover {
    filter: hue-rotate(360deg);
    transition: all 5s ease;
  }
}

@media (max-width: 1000px) {
  .header-robot {
    display: none;
  }
  h1 {
    font-size: 20px !important;
    font-weight: bolder !important;
  }
  h5 {
    font-size: 12px !important;
  }

  p {
    font-size: 12px !important;
    font-weight: normal !important;
  }
  .probot {
    font-size: 20px !important;
  }

  i {
    font-size: 25px !important;
  }
  strong {
    font-size: 15px !important;
  }
  .robot {
    display: none;
  }
  .header2 {
    padding: 0 5%;
  }
}
