.head {
  width: 100%;
  margin-top: 3%;
  margin-bottom: 10%;
  hr {
    margin-top: 7% !important;
    border: 1px solid #6dd5ed;
  }
}

@media (min-width: 768px) {
  .head {
    padding: 0 10%;
  }
}
