body {
  //   background: url("https://media.giphy.com/media/xUA7aKCkyMjsLwwBfG/giphy.gif")
  //     no-repeat center center fixed;
  background: rgb(43, 43, 43);
  background: radial-gradient(
    circle,
    rgba(43, 43, 43, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background-size: cover;
}
footer {
  background: #fff;
}
.robot {
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

textarea {
  resize: none !important;
  height: 25vh !important;
  border: 0 !important;
  border-radius: 0 !important;
  border-bottom: 2px solid #000 !important;
}
.voice {
  background: transparent !important;
  border: 0 !important;
  border-radius: 0 !important;
  border-bottom: 2px solid #000 !important;
  width: 100% !important;
}

.labelinput:hover {
  transform: scale(1.05);
}
.prev {
  background: #000 !important;
}
.prev:hover {
  transform: scale(1.05);
  background: rgb(80, 196, 250) !important;
}
.input {
  color: black !important;
}

@media (max-width: 768px) {
  .player {
    margin: 2px 0px 0px 5px;
    position: absolute;
  }
  .robot {
    display: none;
  }
  .prev {
    margin-bottom: 5rem !important;
  }
}

@media (min-width: 768px) {
  .player {
    margin: 20px 70px 0px 0px !important;
    padding: 0px 50px !important;
  }
}

img:hover {
  transform: scale(5);
}
