.containertts {
  display: flex;
  margin-top: 6%;
  height: 75vh;

  .input-bg {
    flex: 2;
    z-index: 3;
    .card {
      padding: 20px 30px;
      border-radius: 40px !important;
      -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 255, 45, 0.4) !important;
      box-shadow: 0px 0px 30px 0px rgba(0, 255, 45, 0.4) !important;
      background-image: url("./img/g4.gif");
      background-position: center;
      background-size: cover;
      opacity: 0.9 !important;
    }
    .card:hover {
      transition: all 10000ms ease;
      filter: hue-rotate(360deg);
    }
  }

  .robot {
    position: absolute;
    height: 80vh;
    width: 100%;
    right: 1%;
    z-index: 1;
    top: 5%;

    img {
      top: 10%;
      position: absolute;
      right: 4%;
      background-image: url("./img/g2.gif");
      background-repeat: no-repeat;
      background-position: top;
      background-size: contain;
      width: auto;
      height: 80vh;
    }
    img:hover {
      filter: hue-rotate(360deg);
      transition: all 1000ms ease;
      transform: scale(1.25);
      background-image: url("./img/g7.gif");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  .robot:hover {
    filter: hue-rotate(360deg);
    transition: all 5000ms ease;
  }

  #textInput {
    background: none !important;
    border-radius: 20px !important;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: 0px !important  ;
    height: 30vh;
    border-bottom: 4px rgb(255, 255, 255) solid !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    resize: none;
    color: rgb(255, 255, 255);
  }
  .play {
    border-radius: 50px !important;
    color: rgb(255, 255, 255) !important;
    font-size: 35px;
    padding: 5px 20px !important;
    margin: 5px 50px !important;
  }
  .mic {
    border-radius: 50px !important;
    color: rgb(37, 37, 37) !important;
    font-size: 35px;
    padding: 5px 30px !important;
  }
  .play:hover {
    transform: scale(1.1);
    transition: all 300ms ease;
    color: rgb(0, 0, 0) !important;
    background: #2193b0; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #6dd5ed,
      #2193b0
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #6dd5ed,
      #2193b0
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
    box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  }
  .mic:hover {
    transform: scale(1.1);
    color: red !important;
    background: #2193b0; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #6dd5ed,
      #2193b0
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #6dd5ed,
      #2193b0
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
    box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  }
  .micicon:hover {
    transform: scale(1.2);
    color: rgb(0, 0, 0) !important;
    background: #2193b0; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #6dd5ed,
      #2193b0
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #6dd5ed,
      #2193b0
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
    box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
    padding: 5px !important;
    border-radius: 10px;
  }
}

@media (min-width: 1025px) {
  .input-bg {
    padding-left: 10%;
    margin-right: 30%;
  }
  .containertts {
    padding: 0 8%;
  }
}

@media (max-width: 700px) {
  .input-bg {
    .card {
      margin: 10% 5% 0 5%;

      height: 70vh;
      background-position: center;
      background-size: contain;
    }
  }
}
