.navtxt {
  font-family: "Press Start 2P", cursive;
  color: red !important;
  a:hover {
    background: none;
    border-bottom: 3px solid #6dd5ed;

    color: red !important;
  }
  a {
    padding: 10px 20px !important;
  }
}

@media (max-width: 1000px) {
  .brand h2 {
    font-size: 20px !important;
  }
  .band h2:hover {
    color: #6dd5ed !important;
  }
  nav {
    p {
      display: none;
    }
  }
}
nav {
  background: none;
  font-family: "Nosifer", cursive;
  position: relative;
  p {
    font-family: "Goldman", cursive;
    font-weight: bolder;
    font-size: 30px;
    position: absolute;
    top: 35px;
    left: 390px;
  }
}

.brand:hover {
  color: #6dd5ed !important;
  p {
    left: 100%;
    color: red;
  }
}
