.player {
  position: fixed;
  top: 87%;
  z-index: 5;
  width: 20%;

  .music {
    -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
    box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
    border-radius: 40px !important;
    background: none !important;
    border: 1 px solid #6dd5ed;
    background-image: url("./img/g3.gif") !important;
    background-size: cover !important;
    backdrop-filter: blur(10px);
  }
  .music:hover {
    filter: hue-rotate(360deg);
    transition: all 5000ms ease;
    cursor: grab;
  }
}

@media (max-width: 1200px) {
  .player {
    width: 60%;
    .music {
      width: 100%;
    }
  }
}
