.social-container {
  position: relative;
  .social-col {
    padding: 8px;
    border-radius: 0px 20px 20px 0px;
    background: #2193b0; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #6dd5ed,
      #2193b0
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #6dd5ed,
      #2193b0
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
    box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
    display: flex;
    flex-direction: column;
    top: 40%;
    font-size: 20px;
    color: black;
    position: fixed;
  }
  hr {
    border: black -1px solid;
  }
  a:hover {
    transform: scale(1.5);
    filter: hue-rotate(100deg);
  }
  a {
    color: black;
    margin: 0 !important;
    padding: 0 !important;
  }
}
.social-col:hover {
  filter: hue-rotate(360deg);
  transition: all 5s ease;
}
@media (max-width: 768px) {
  .social-container {
    display: none;
  }
}
