.team-image {
  img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  p {
    font-family: "VT323";
    color: white;
    font-size: 25px;
  }
  a {
    text-decoration: none !important;
  }
  img:hover {
    border: #6dd5ed solid 3px;
    -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
    box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
    transform: rotate(360deg);
    transition: all 1000ms ease;
  }
}
.team {
  hr {
    border: #6dd5ed 1px solid;
    margin: 5% 0;
  }
  background-image: url("./img/bg.gif");
  background-size: 60px;
  background-position: 50% 46%;
  background-repeat: no-repeat;
}
.team-image:hover {
  background-image: url("./img/clap.gif");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  p {
    color: #6dd5ed;
  }
}
@media (max-width: 768px) {
  .team {
    p {
      font-family: "VT323";
      color: white;
      font-size: 30px !important;
    }
    a {
      text-decoration: none !important;
    }
    h1 {
      font-family: "VT323";
      color: white;
      font-size: 30px !important;
      font-weight: normal !important;
    }
  }
}
