@import "./Nav";
@import "./Main";
@import "./Header";
@import "./Header2";
@import "./Header3";
@import "./Header4";
@import "./Player";
@import "./Variables";
@import "./FaceDetection";
@import "./Products";
@import "./SocialMedia";
@import "./Team";
@import "./About";
@import "./Chat";
@import "./MainHeaderStyle";
@import "./Footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  ::-webkit-scrollbar {
    width: 20px;
    background: none;
  }

  ::-webkit-scrollbar-track {
    background: rgba(43, 43, 43, 1);

    -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
    box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  }

  ::-webkit-scrollbar-thumb {
    background: -webkit-linear-gradient(to right, $color, #2193b0);
    background: linear-gradient(to right, $color, #2193b0);
    -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
    box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
    border-radius: 0px 15px 0px 15px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #ff0000;
    background: -webkit-linear-gradient(to right, #f66f60, #ff0000);
    background: linear-gradient(to right, #f66f60, #ff0000);

    -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
    box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  }
}

h1 {
  font-family: "Nosifer", cursive;
  text-shadow: 0px 0px 12px #000000;
}

p {
  text-shadow: 0px 0px 12px #000000;
  font-family: "Poppins", sans-serif;
}

h5 {
  text-shadow: 0px 0px 12px #000000;
  font-family: "Poppins", sans-serif;
}
span {
  color: #ff0000;
}
a:hover {
  transform: scale(1.05);
  transition: all 0.2s ease;
}

body {
  @extend %bg;
}

footer {
  background: -webkit-linear-gradient(to right, $color, #2193b0);
  background: linear-gradient(to right, $color, #2193b0);
  -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  color: white !important;
  overflow-x: hidden !important;
  a {
    color: black !important;
  }
}
footer:hover {
  filter: hue-rotate(360deg);
  transition: all 5s ease;
}

hr {
  margin: 1.5% 4% !important;
  border: #2193b0 1px solid !important;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
}

.tilt {
  background: inherit !important;
  width: 100% !important;
  z-index: 99999 !important;
  margin: 0 !important;
  padding: 0 !important;
  -webkit-box-shadow: 0 !important;
  box-shadow: 0 !important;
  border: 0 !important;
}

.home {
  padding: 0 7%;
}

::placeholder {
  color: $color;
  opacity: 1;
}

@media (max-width: 1000px) {
  .home {
    padding: 0 !important;
  }
  .tilt {
    padding: 0 !important;
    margin: 0 !important;
  }
  h1 {
    font-size: 18px !important;
    font-weight: bolder !important;
    text-shadow: none;
  }
  .container {
    padding: 1rem 0 !important;
  }
  header {
    padding: 1% !important;
  }
  .header2 {
    padding: 1% !important;
  }
  .header3 {
    padding: 1% !important;
  }
  .header4 {
    padding: 1% !important;
  }
  body {
    overflow-x: hidden !important;
  }
}
