.navtxt {
  font-family: "Press Start 2P", cursive;
  color: #000 !important;
}

.navtxt a:hover {
  background: #2193b0;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#6dd5ed), to(#2193b0));
  background: linear-gradient(to right, #6dd5ed, #2193b0);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  color: white !important;
  border-radius: 20px;
}

.navtxt a {
  padding: 10px 20px !important;
}

@media (max-width: 768px) {
  .brand h2 {
    font-size: 20px !important;
  }
}

header {
  height: 100vh;
  position: relative;
  width: 100%;
}

.container .input-bg {
  padding-top: 5%;
  min-height: 100vh;
  position: relative;
}

.container .input-bg .card {
  height: 20%;
  z-index: 3;
  padding: 20px 30px;
  border-radius: 40px !important;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  opacity: 0.8 !important;
  background-image: url("./img/g4.gif");
  background-position: center;
  background-size: cover;
  opacity: 0.9 !important;
}

.container .input-bg .card:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.container .robot {
  z-index: 1;
  position: absolute;
  right: 680px;
  height: 90vh;
  bottom: 50px;
  float: left;
}

.container .robot3 {
  z-index: 1;
  position: absolute;
  right: 770px;
  top: 20px;
  width: 40%;
  height: 100vh;
  float: left;
}

.container #textInput {
  background: none !important;
  border-radius: 20px !important;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border: 0px !important;
  height: 30vh;
  border-bottom: 4px white solid !important;
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  resize: none;
  color: white;
}

.container .play {
  border-radius: 50px !important;
  color: white !important;
  font-size: 35px;
  padding: 5px 20px !important;
  margin: 5px 50px !important;
}

.container .mic {
  border-radius: 50px !important;
  color: #252525 !important;
  font-size: 35px;
  padding: 5px 30px !important;
}

.container .play:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: black !important;
  background: #2193b0;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#6dd5ed), to(#2193b0));
  background: linear-gradient(to right, #6dd5ed, #2193b0);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container .mic:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: red !important;
  background: #2193b0;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#6dd5ed), to(#2193b0));
  background: linear-gradient(to right, #6dd5ed, #2193b0);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container .micicon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: black !important;
  background: #2193b0;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#6dd5ed), to(#2193b0));
  background: linear-gradient(to right, #6dd5ed, #2193b0);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 5px !important;
  border-radius: 10px;
}

@media (min-width: 1000px) {
  .robot:hover {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .nav {
    padding: 0px 40px !important;
    margin: 0px 40px !important;
  }
  .card {
    width: 55%;
    left: 25%;
  }
}

@media (max-width: 1000px) {
  .robot {
    left: 1px;
    width: 99%;
  }
  .robot3 {
    left: 30px;
    width: 100%;
  }
  .robot2 {
    width: 100% !important;
  }
  .card {
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #2b2b2b;
  background: radial-gradient(circle, #2b2b2b 0%, black 100%);
  background-size: cover;
  background-image: url("./img/g5.gif");
  background-position: left;
}

footer {
  background: #fff;
}

a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/*# sourceMappingURL=style.css.map */