.navtxt {
  font-family: "Press Start 2P", cursive;
  color: red !important;
}

.navtxt a:hover {
  -webkit-transition: all ease 200ms;
  transition: all ease 200ms;
  background: none;
  border: 2px solid #6dd5ed;
  border-radius: 15px 0px 15px 0px;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  color: red !important;
}

.navtxt a {
  padding: 10px 20px !important;
}

@media (max-width: 1000px) {
  .brand h2 {
    font-size: 20px !important;
  }
  .band h2:hover {
    color: #6dd5ed !important;
  }
  nav p {
    display: none;
  }
}

nav {
  background: none;
  font-family: "Nosifer", cursive;
  position: relative;
}

nav p {
  font-family: "Goldman", cursive;
  font-weight: bolder;
  font-size: 30px;
  position: absolute;
  top: 35px;
  left: 390px;
}

.brand:hover {
  color: #6dd5ed !important;
}

.brand:hover p {
  left: 100%;
  color: red;
}

.containertts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
  height: 75vh;
}

.containertts .input-bg {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  z-index: 3;
}

.containertts .input-bg .card {
  padding: 20px 30px;
  border-radius: 50px 0px 50px 0px !important;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 255, 45, 0.4) !important;
  box-shadow: 0px 0px 30px 0px rgba(0, 255, 45, 0.4) !important;
  background-image: url("./img/g4.gif");
  background-position: center;
  background-size: cover;
  opacity: 0.9 !important;
}

.containertts .input-bg .card:hover {
  -webkit-transition: all 10000ms ease;
  transition: all 10000ms ease;
  -webkit-filter: hue-rotate(360deg);
          filter: hue-rotate(360deg);
}

.containertts .robot {
  position: absolute;
  height: 80vh;
  width: 100%;
  right: 1%;
  z-index: 1;
  top: 5%;
}

.containertts .robot img {
  top: 10%;
  position: absolute;
  right: 4%;
  background-image: url("./img/g2.gif");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  width: auto;
  height: 80vh;
}

.containertts .robot img:hover {
  -webkit-filter: hue-rotate(360deg);
          filter: hue-rotate(360deg);
  -webkit-transition: all 1000ms ease;
  transition: all 1000ms ease;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  background-image: url("./img/g7.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.containertts .robot:hover {
  -webkit-filter: hue-rotate(360deg);
          filter: hue-rotate(360deg);
  -webkit-transition: all 5000ms ease;
  transition: all 5000ms ease;
}

.containertts #textInput {
  background: none !important;
  border-radius: 20px !important;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  border: 0px !important;
  height: 30vh;
  border-bottom: 4px white solid !important;
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  resize: none;
  color: white;
}

.containertts .play {
  border-radius: 25px 0px 25px 0px !important;
  color: white !important;
  font-size: 35px;
  padding: 5px 20px !important;
  margin: 5px 50px !important;
}

.containertts .mic {
  border-radius: 0px 25px 0px 25px !important;
  color: #252525 !important;
  font-size: 35px;
  padding: 5px 30px !important;
}

.containertts .play:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: black !important;
  background: #2193b0;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#6dd5ed), to(#2193b0));
  background: linear-gradient(to right, #6dd5ed, #2193b0);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
}

.containertts .mic:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: red !important;
  background: #2193b0;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#6dd5ed), to(#2193b0));
  background: linear-gradient(to right, #6dd5ed, #2193b0);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
}

@media (min-width: 1025px) {
  .input-bg {
    padding-left: 10%;
    margin-right: 30%;
  }
  .containertts {
    padding: 0 8%;
  }
}

@media (max-width: 700px) {
  .containertts {
    margin-top: 10%;
    padding: 0 2%;
  }
  .input-bg {
    padding-left: 0 !important;
    margin-right: 0 !important;
  }
  .input-bg .card {
    padding: 3% !important;
    background-position: center;
    background-size: contain;
  }
}

header {
  background-image: url("./img/g6.gif");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

header .container {
  padding: 2%;
  border-radius: 50px 0px 50px 0px;
  border: 3px solid #6dd5ed;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
}

header .container .text {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  color: #6dd5ed;
}

header .container .text h1 {
  text-shadow: 0px 0px 12px #000000;
  padding-top: 20px;
  margin-left: 25px;
  margin-bottom: 30px;
}

header .container .text h5 {
  padding: 0px 50px;
  margin-bottom: 30px;
}

header .container .text i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 300%;
  margin: 4% 10%;
}

header .container .text i p {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

header .container .text .btn {
  background: none;
  color: #6dd5ed;
  border-color: #6dd5ed;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
}

header .container .text .btn:hover {
  background-color: black;
  color: white;
}

header .container .header-robot {
  position: relative;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header .container .header-robot .thunder {
  position: absolute;
  right: 33%;
  z-index: -1;
  height: 45vh;
  -webkit-filter: hue-rotate(300deg);
          filter: hue-rotate(300deg);
}

header .container .header-robot .thunder2 {
  position: absolute;
  right: 2%;
  z-index: -1;
  height: 45vh;
  -webkit-filter: hue-rotate(300deg);
          filter: hue-rotate(300deg);
}

header .header-robot:hover {
  -webkit-filter: hue-rotate(170deg);
          filter: hue-rotate(170deg);
  -webkit-transition: all 800ms ease;
  transition: all 800ms ease;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-image: url("./img/g2.gif") !important;
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
  z-index: 1;
}

header .bg:hover {
  -webkit-filter: hue-rotate(360deg);
          filter: hue-rotate(360deg);
  -webkit-transition: all 5s ease;
  transition: all 5s ease;
}

@media (max-width: 1000px) {
  .header-robot {
    display: none;
  }
  h1 {
    font-size: 20px !important;
    font-weight: bolder !important;
  }
  h5 {
    font-size: 12px !important;
  }
  p {
    font-size: 12px !important;
    font-weight: normal !important;
  }
  .probot {
    font-size: 20px !important;
  }
  i {
    font-size: 25px !important;
  }
  strong {
    font-size: 15px !important;
  }
  .robot {
    display: none;
  }
}

.header2 {
  background-image: url("./img/g1.gif");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  z-index: -9999;
}

.header2 .container {
  padding: 2%;
  border-radius: 0px 50px 0px 50px;
  border: 3px solid #6dd5ed;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.header2 .container .text {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  color: #6dd5ed;
}

.header2 .container .text h1 {
  padding-top: 20px;
  margin-left: 25px;
  margin-bottom: 30px;
}

.header2 .container .text h5 {
  padding: 0px 50px;
  margin-bottom: 30px;
}

.header2 .container .text i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 300%;
  margin: 4% 10%;
}

.header2 .container .text i p {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.header2 .container .text .btn {
  background: none;
  color: #6dd5ed;
  border-color: #6dd5ed;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
}

.header2 .container .text .btn:hover {
  background-color: black;
  color: white;
}

.header2 .container .text .header-robot {
  z-index: 1;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: relative;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100vh;
  background-image: url("./img/g6.gif");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.header2 .container .header-robot {
  position: relative;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.header2 .header-robot:hover {
  -webkit-filter: hue-rotate(360deg);
          filter: hue-rotate(360deg);
  -webkit-transition: all 1000ms ease;
  transition: all 1000ms ease;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-image: url("./img/g7.gif") !important;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

.header2 .bg:hover {
  -webkit-filter: hue-rotate(360deg);
          filter: hue-rotate(360deg);
  -webkit-transition: all 5s ease;
  transition: all 5s ease;
}

@media (max-width: 1000px) {
  .header-robot {
    display: none;
  }
  h1 {
    font-size: 20px !important;
    font-weight: bolder !important;
  }
  h5 {
    font-size: 12px !important;
  }
  p {
    font-size: 12px !important;
    font-weight: normal !important;
  }
  .probot {
    font-size: 20px !important;
  }
  i {
    font-size: 25px !important;
  }
  strong {
    font-size: 15px !important;
  }
  .robot {
    display: none;
  }
  .header2 {
    padding: 0 5%;
  }
}

.header3 {
  background-image: url("./img/g3.gif");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.header3 .container {
  padding: 2%;
  border-radius: 50px 0px 50px 0px;
  border: 3px solid #6dd5ed;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.header3 .container .text {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  color: #6dd5ed;
}

.header3 .container .text h1 {
  padding-top: 20px;
  margin-left: 25px;
  margin-bottom: 30px;
}

.header3 .container .text h5 {
  padding: 0px 50px;
  margin-bottom: 30px;
}

.header3 .container .text i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 300%;
  margin: 4% 10%;
}

.header3 .container .text i p {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.header3 .container .text .btn {
  background: none;
  color: #6dd5ed;
  border-color: #6dd5ed;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
}

.header3 .container .text .btn:hover {
  background-color: black;
  color: white;
}

.header3 .container .text .header-robot {
  z-index: 1;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: relative;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100vh;
  background-image: url("./img/g6.gif");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.header3 .container .header-robot {
  position: relative;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.header3 .header-robot:hover {
  -webkit-filter: hue-rotate(360deg);
          filter: hue-rotate(360deg);
  -webkit-transition: all 1000ms ease;
  transition: all 1000ms ease;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-image: url("./img/g8.gif") !important;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

.header3 .bg:hover {
  -webkit-filter: hue-rotate(360deg);
          filter: hue-rotate(360deg);
  -webkit-transition: all 5s ease;
  transition: all 5s ease;
}

@media (max-width: 1000px) {
  .header-robot {
    display: none;
  }
  h1 {
    font-size: 20px !important;
    font-weight: bolder !important;
  }
  h5 {
    font-size: 12px !important;
  }
  p {
    font-size: 12px !important;
    font-weight: normal !important;
  }
  .probot {
    font-size: 20px !important;
  }
  i {
    font-size: 25px !important;
  }
  strong {
    font-size: 15px !important;
  }
  .robot {
    display: none;
  }
  .header3 {
    padding: 0 5%;
  }
}

.header4 {
  background-image: url("./img/g8.gif");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 10%;
}

.header4 .container {
  padding: 1.5%;
  border-radius: 0px 50px 0px 50px;
  border: 3px solid #6dd5ed;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.header4 .container .text {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  color: #6dd5ed;
}

.header4 .container .text h1 {
  padding-top: 20px;
  margin-left: 25px;
  margin-bottom: 30px;
}

.header4 .container .text h5 {
  padding: 0px 50px;
  margin-bottom: 30px;
}

.header4 .container .text i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 300%;
  margin: 4% 10%;
}

.header4 .container .text i p {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.header4 .container .text .btn {
  background: none;
  color: #6dd5ed;
  border-color: #6dd5ed;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
}

.header4 .container .text .btn:hover {
  background-color: black;
  color: white;
}

.header4 .container .text .header-robot {
  z-index: 1;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: relative;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100vh;
  background-image: url("./img/g6.gif");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.header4 .container .header-robot {
  position: relative;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.header4 .header-robot:hover {
  -webkit-filter: hue-rotate(360deg);
          filter: hue-rotate(360deg);
  -webkit-transition: all 1000ms ease;
  transition: all 1000ms ease;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-image: url("./img/g9.gif") !important;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 50%;
  z-index: 1;
}

.header4 .bg:hover {
  -webkit-filter: hue-rotate(360deg);
          filter: hue-rotate(360deg);
  -webkit-transition: all 5s ease;
  transition: all 5s ease;
}

@media (max-width: 1000px) {
  .header-robot {
    display: none;
  }
  h1 {
    font-size: 20px !important;
    font-weight: bolder !important;
  }
  h5 {
    font-size: 12px !important;
  }
  p {
    font-size: 12px !important;
    font-weight: normal !important;
  }
  .probot {
    font-size: 20px !important;
  }
  i {
    font-size: 25px !important;
  }
  strong {
    font-size: 15px !important;
  }
  .robot {
    display: none;
  }
  .header4 {
    padding: 0 5%;
  }
}

.player {
  position: fixed;
  top: 87%;
  z-index: 5;
  width: 20%;
}

.player .music {
  -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  border-radius: 40px !important;
  background: none !important;
  border: 1 px solid #6dd5ed;
  background-image: url("./img/g3.gif") !important;
  background-size: cover !important;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.player .music:hover {
  -webkit-filter: hue-rotate(360deg);
          filter: hue-rotate(360deg);
  -webkit-transition: all 5000ms ease;
  transition: all 5000ms ease;
  cursor: -webkit-grab;
  cursor: grab;
}

@media (max-width: 1200px) {
  .player {
    width: 60%;
  }
  .player .music {
    width: 100%;
  }
}

body {
  background: #2b2b2b;
  background: radial-gradient(circle, #2b2b2b 0%, black 100%);
  position: relative;
}

.face {
  height: 75vh !important;
  margin: 4% 0;
}

.face img {
  position: absolute;
  left: 65%;
  z-index: -1;
}

.video {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 40px !important;
  margin: 20px 0;
  cursor: -webkit-grab;
  cursor: grab;
}

.video video {
  -webkit-filter: blur(0.9px);
          filter: blur(0.9px);
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  /* Safari and Chrome */
  -moz-transform: rotateY(180deg);
  /* Firefox */
  border: #6dd5ed solid 3px;
  border-radius: 50px 0px 50px 0px;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
}

.loading {
  width: 100%;
  height: 24vh;
  background-image: url("./img/load.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 7%;
  z-index: -9999;
  position: absolute;
  -webkit-filter: hue-rotate(-20deg);
          filter: hue-rotate(-20deg);
}

@media (max-width: 768px) {
  .video {
    width: 100% !important;
    height: auto !important;
  }
  .loading {
    background-size: 20%;
  }
}

.flex {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 40px !important;
}

.canvas {
  border-radius: 40px !important;
  position: absolute;
}

.vtt {
  height: 75vh;
}

.card2 {
  padding: 5%;
  text-align: center;
  border-radius: 0px 30px 0px 30px !important;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  border: 1px solid #6dd5ed !important;
}

.card2:hover {
  -webkit-filter: hue-rotate(360deg);
          filter: hue-rotate(360deg);
  -webkit-transition: all 2000ms ease;
  transition: all 2000ms ease;
}

@media (min-width: 768px) {
  .robots {
    width: 100% !important;
    height: 250px !important;
    background-image: url("./img/g8.gif");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.social-container {
  z-index: 99;
  position: relative;
}

.social-container hr {
  margin: 10px 0 !important;
  border: 1px !important;
}

.social-container .social-col {
  padding: 8px;
  border-radius: 0px 20px 20px 0px;
  border: 1px solid #6dd5ed;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 40%;
  font-size: 20px;
  color: black;
  position: fixed;
}

.social-container a:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-filter: hue-rotate(100deg);
          filter: hue-rotate(100deg);
}

.social-container a {
  color: #6dd5ed;
  margin: 0 !important;
  padding: 0 !important;
}

.social-col:hover {
  -webkit-filter: hue-rotate(360deg);
          filter: hue-rotate(360deg);
  -webkit-transition: all 5s ease;
  transition: all 5s ease;
}

.btn-container {
  z-index: 999999;
  position: fixed;
  top: 88%;
  background: none;
  right: 1%;
  bottom: 0;
  font-size: 250%;
}

.btn-container .chat {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px #6dd5ed solid;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
}

.btn-container .chat:hover {
  border: 1px red solid;
  -webkit-box-shadow: 0px 0px 25px -5px red !important;
  box-shadow: 0px 0px 25px -5px red !important;
  color: red;
  -webkit-transition: all ease 1500ms;
  transition: all ease 1500ms;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: hue-rotate(360deg);
          filter: hue-rotate(360deg);
}

@media (max-width: 768px) {
  .social-container {
    display: none;
  }
  .btn-container {
    z-index: 999999;
    position: fixed;
    top: 88%;
    background: none;
    right: 1%;
    bottom: 0;
    font-size: 180%;
    margin: 0 !important;
  }
  .btn-container .chat {
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    border: 1px #6dd5ed solid;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
    box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  }
  .btn-container .chat:hover {
    border: 1px red solid;
    -webkit-box-shadow: 0px 0px 25px -5px red !important;
    box-shadow: 0px 0px 25px -5px red !important;
    color: red;
    -webkit-transition: all ease 1500ms;
    transition: all ease 1500ms;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

.team-image img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.team-image p {
  font-family: "VT323";
  color: white;
  font-size: 25px;
}

.team-image a {
  text-decoration: none !important;
}

.team-image img:hover {
  border: #6dd5ed solid 3px;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: all 1000ms ease;
  transition: all 1000ms ease;
}

.team {
  background-image: url("./img/bg.gif");
  background-size: 60px;
  background-position: 50% 46%;
  background-repeat: no-repeat;
}

.team hr {
  border: #6dd5ed 1px solid;
  margin: 5% 0;
}

.team-image:hover {
  background-image: url("./img/clap.gif");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.team-image:hover p {
  color: #6dd5ed;
}

@media (max-width: 768px) {
  .team p {
    font-family: "VT323";
    color: white;
    font-size: 30px !important;
  }
  .team a {
    text-decoration: none !important;
  }
  .team h1 {
    font-family: "VT323";
    color: white;
    font-size: 30px !important;
    font-weight: normal !important;
  }
}

.bgvideo video {
  border: #6dd5ed solid 3px;
  border-radius: 50px 0px 50px 0px;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
}

.bgvideo:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.par p {
  color: white;
  font-size: 19px;
}

.par p:hover {
  color: #6dd5ed;
  -webkit-filter: hue-rotate(360deg);
          filter: hue-rotate(360deg);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

video:focus {
  outline: none;
}

.bgvideo:focus {
  outline: none;
}

.mychat {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 70vh;
  margin-top: 5%;
  overflow-x: hidden !important;
}

.mychat ::-webkit-scrollbar {
  width: 0px !important;
  /* Remove scrollbar space */
}

.logIn {
  background-image: url("./img/g1.gif");
  background-size: 30%;
  background-position: bottom right;
  background-repeat: no-repeat;
  width: 50%;
  height: 100%;
  border: 5px solid #6dd5ed;
  border-radius: 50px 0px 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.logIn h6 {
  font-size: 40px;
  color: white;
}

.logIn span {
  background-color: #ff8c00;
  color: #000;
  border-radius: 5px;
  padding: 2px 5px;
}

.logIn strong {
  font-size: 40px !important;
}

.logIn input {
  margin: 10px;
  width: auto;
  height: 50px;
  border-radius: 20px 0px 20px 0px;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  border: 2px solid #6dd5ed;
  background-color: transparent;
  padding-left: 10px;
  color: white;
  font-size: 15px;
}

.logIn input:focus {
  outline: none;
}

.logIn button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 0px 20px 0px 20px;
  border: 1px solid #6dd5ed;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  background: none;
  color: #6dd5ed;
  font-size: 16px;
  margin-top: 45px;
  font-weight: bolder;
}

.logIn button:hover {
  font-weight: bolder;
  cursor: pointer;
  color: black;
  background-color: #6dd5ed;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
}

.chatContainer {
  z-index: 9999999999999 !important;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 50%;
  height: 100%;
  border: 3px solid #6dd5ed;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  border-radius: 50px 0px 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.chatContainer .inputs {
  width: 100% !important;
  height: 100% !important;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 50px;
  border: #6dd5ed solid 1px;
}

.chatContainer input {
  width: 100% !important;
  height: 100% !important;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 50px;
  border: #6dd5ed solid 1px;
}

.chatContainer .messageInputs {
  width: 100% !important;
  height: 100% !important;
}

@media (max-width: 600px) {
  .logIn .mytitle {
    padding-bottom: 5% !important;
  }
}

@media (max-width: 1000px) {
  .logIn {
    width: 100% !important;
  }
  .chatContainer {
    width: 100%;
  }
  .chatContainer h1 {
    font-size: 20px !important;
  }
  .chatContainer h5 {
    font-size: 20px !important;
  }
  .chatContainer button {
    margin-right: 0 !important;
  }
  .logIn {
    width: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .App {
    margin-top: 10%;
    padding: 0 1%;
  }
  .chatContainer .messageInputs {
    -webkit-box-flex: 20%;
        -ms-flex: 20%;
            flex: 20%;
    padding: 1% 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .chatContainer .messageInputs ::-webkit-input-placeholder {
    color: #6dd5ed;
    opacity: 1;
    font-size: 15px;
  }
  .chatContainer .messageInputs :-ms-input-placeholder {
    color: #6dd5ed;
    opacity: 1;
    font-size: 15px;
  }
  .chatContainer .messageInputs ::-ms-input-placeholder {
    color: #6dd5ed;
    opacity: 1;
    font-size: 15px;
  }
  .chatContainer .messageInputs ::placeholder {
    color: #6dd5ed;
    opacity: 1;
    font-size: 15px;
  }
}

.chatContainer .messages {
  -webkit-box-flex: 80%;
      -ms-flex: 80%;
          flex: 80%;
  width: 100%;
  padding-left: 20px;
}

.chatContainer .messageInputs {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
  padding: 1% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.chatContainer .messageInputs ::-webkit-input-placeholder {
  color: #6dd5ed;
  opacity: 1;
}

.chatContainer .messageInputs :-ms-input-placeholder {
  color: #6dd5ed;
  opacity: 1;
}

.chatContainer .messageInputs ::-ms-input-placeholder {
  color: #6dd5ed;
  opacity: 1;
}

.chatContainer .messageInputs ::placeholder {
  color: #6dd5ed;
  opacity: 1;
}

.chatContainer .messageInputs input:focus {
  outline: none !important;
}

.chatContainer .messageInputs button:focus {
  outline: none !important;
}

.chatContainer .messageInputs input {
  -webkit-box-flex: 80%;
      -ms-flex: 80%;
          flex: 80%;
  padding-left: 20px;
  font-size: 20px;
  color: white;
  margin-right: 3%;
  width: auto !important;
  height: auto !important;
}

.chatContainer .messageInputs button {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: none;
  border: 1px solid #6dd5ed;
  border-radius: 50px;
  color: #6dd5ed;
  font-size: 200%;
  margin-right: 5%;
}

.chatContainer .messageInputs button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
  color: red;
  border: 1px solid red;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(255, 0, 0, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(255, 0, 0, 0.6) !important;
}

.messageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 30px);
}

.messageContainer h1 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 17px;
}

#You {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right !important;
}

#You .messageIndividual {
  border-radius: 20px 20px 0 20px;
}

#Other {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  text-align: left !important;
}

.person {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  text-align: right !important;
  padding: 0 !important;
  margin: 0 !important;
}

.person2 {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
  text-align: left !important;
  padding: 0 !important;
  margin: 0 !important;
}

#Other .messageIndividual {
  background: none;
  border: 1px solid #ff0000;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(255, 0, 0, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(255, 0, 0, 0.6) !important;
  color: white;
  border-radius: 20px 20px 20px 0px;
}

.messageIndividual {
  width: auto !important;
  height: 60px !important;
  padding: 0 4% !important;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border: 1px solid #6dd5ed;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  color: white;
}

.scrollable {
  overflow-x: hidden !important;
  padding: 0 2% !important;
}

.head {
  width: 100%;
  margin-top: 3%;
  margin-bottom: 10%;
}

.head hr {
  margin-top: 7% !important;
  border: 1px solid #6dd5ed;
}

@media (min-width: 768px) {
  .head {
    padding: 0 10%;
  }
}

.main-footer {
  background: transparent;
  border-top: 1px solid #6dd5ed;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
}

.main-footer a {
  color: #6dd5ed !important;
}

@media (max-width: 1000px) {
  .c1 {
    margin: 5% 0;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* ::-webkit-scrollbar {
  width: 20px;
  background: none;
}

* ::-webkit-scrollbar-track {
  background: #2b2b2b;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
}

* ::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, right top, from(#6dd5ed), to(#2193b0));
  background: linear-gradient(to right, #6dd5ed, #2193b0);
  -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  border-radius: 0px 15px 0px 15px;
}

* ::-webkit-scrollbar-thumb:hover {
  background: #ff0000;
  background: -webkit-gradient(linear, left top, right top, from(#f66f60), to(#ff0000));
  background: linear-gradient(to right, #f66f60, #ff0000);
  -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
}

h1 {
  font-family: "Nosifer", cursive;
  text-shadow: 0px 0px 12px #000000;
}

p {
  text-shadow: 0px 0px 12px #000000;
  font-family: "Poppins", sans-serif;
}

h5 {
  text-shadow: 0px 0px 12px #000000;
  font-family: "Poppins", sans-serif;
}

span {
  color: #ff0000;
}

a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

footer {
  background: -webkit-gradient(linear, left top, right top, from(#6dd5ed), to(#2193b0));
  background: linear-gradient(to right, #6dd5ed, #2193b0);
  -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  color: white !important;
  overflow-x: hidden !important;
}

footer a {
  color: black !important;
}

footer:hover {
  -webkit-filter: hue-rotate(360deg);
          filter: hue-rotate(360deg);
  -webkit-transition: all 5s ease;
  transition: all 5s ease;
}

hr {
  margin: 1.5% 4% !important;
  border: #2193b0 1px solid !important;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
  box-shadow: 0px 0px 25px -5px rgba(11, 255, 249, 0.6) !important;
}

.tilt {
  background: inherit !important;
  width: 100% !important;
  z-index: 99999 !important;
  margin: 0 !important;
  padding: 0 !important;
  -webkit-box-shadow: 0 !important;
  box-shadow: 0 !important;
  border: 0 !important;
}

.home {
  padding: 0 7%;
}

::-webkit-input-placeholder {
  color: #6dd5ed;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #6dd5ed;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #6dd5ed;
  opacity: 1;
}

::placeholder {
  color: #6dd5ed;
  opacity: 1;
}

.built {
  background-image: url("./img/g10.gif");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-filter: hue-rotate(150deg);
          filter: hue-rotate(150deg);
}

.cons {
  background-image: url("./img/bg2.gif");
  background-position: top;
  background-size: 60%;
  background-repeat: no-repeat;
}

.cons .img1 {
  position: absolute;
  top: 18%;
  left: 55%;
  bottom: 0;
  width: 8%;
  z-index: 99;
}

@media (max-width: 1000px) {
  .cons {
    background-image: url("./img/bg2.gif");
    background-position: top;
    background-size: 120%;
    background-repeat: no-repeat;
  }
  .cons .img1 {
    position: absolute;
    top: 9%;
    left: 63%;
    bottom: 0;
    width: 30%;
  }
  .home {
    padding: 0 !important;
  }
  .tilt {
    padding: 0 !important;
    margin: 0 !important;
  }
  h1 {
    font-size: 18px !important;
    font-weight: bolder !important;
    text-shadow: none;
  }
  .container {
    padding: 1rem 0 !important;
  }
  header {
    padding: 1% !important;
  }
  .header2 {
    padding: 1% !important;
  }
  .header3 {
    padding: 1% !important;
  }
  .header4 {
    padding: 1% !important;
  }
  body {
    overflow-x: hidden !important;
  }
  .vtt i {
    font-size: 70px !important;
  }
}
/*# sourceMappingURL=style.css.map */